<% include ./partials/header.ejs %>

<div class=" mx-auto px-4 py-8">
    <div class="profile-section flex flex-col items-center justify-center gap-4">
      <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="">
      </form>
      <div class="relative">
        <span id="uploadicon" class="w-8 h-8 absolute bottom-0 right-0  rounded-full flex item-center justify-center bg-zinc-200">
          <i class="mt-1 text-zinc-700 ri-pencil-fill"></i>
        </span>
        <div class="profile-image rounded-full overflow-hidden w-24 h-24">
          <img src="/images/uploads/<%= user.profileImage %>" alt="" class="w-full h-full object-cover">
        </div>
      </div>
      <div class="profile-info text-center">
        <h2 class="text-2xl font-semibold text-gray-800">@<%= user.username %></h2>
        <p class="text-lg text-gray-600"><%= user.fullname %></p>
      </div>
      <div class="flex flex-column gap-4">
        <a href="/addpost" class="edit-profile-btn bg-gray-300 hover:bg-gray-400 text-slate-950 font-medium py-2 px-4 rounded-md shadow-sm">Share it</a>
        <!-- <a href="#" class="edit-profile-btn bg-gray-300 hover:bg-gray-400 text-slate-950 font-medium py-2 px-4 rounded-md shadow-sm">Edit Profile</a> -->
      </div>
    </div>

    <div class="flex flex-column  py-7 px-4 gap-4 ">
    <div class="pins-section mt-8 grid grid-cols-1 transition ease-in-out delay-150  hover:-translate-y-1 hover:scale-110  duration-700 ">
      
        <div class="pin rounded-lg shadow-md overflow-hidden cursor-pointer" data-pin-id="1">
          <img src="/images/uploads/<%= user?.posts[0]?.image %>" alt="Pin Image" class="w-full h-48 object-cover">
          <div class="pin-info px-4 py-3 items-center text-gray-700">
            <a href="/show/posts" class="font-semibold">Your Posts</a>
            <p class="opacity-80"><%= user.posts.length %> Pins</p>
            <i class="fa-solid fa-ellipsis-vertical text-sm"></i>
          </div>
        </div>
        </div>
    </div>
  </div>

<script>
  document.querySelector("#uploadicon").addEventListener("click",function(){
    document.querySelector("#uploadform input").click();
  })
  document.querySelector("#uploadform input").addEventListener("change",function(){
    document.querySelector("#uploadform").submit();
  })
</script>
<% include ./partials/footer.ejs %>